/* сброс отступов */
* {
    margin: 0;
    padding: 0;
}

/* основной контейнер */
.container {
    display: flex;
}

/* боковое меню */
.menu {
    border-right: 1px solid #2222220D;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__header {
    height: 30px;
}

.menu__icon {
    width: 40px;
    height: 40px;
    display: block;
}

.menu__icon_type_home {
    background-image: url("/images/home.svg");
}

.menu__icon_type_profile {
    background-image: url("/images/profile.svg");
}

.menu__icon_type_plus {
    background-image: url("/images/plus.svg");
}

/* Лента постов */
.scroll {
    display: flex;
    width: 474px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding-top: 73px;
}

/* шапка поста */
.head {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}

.head__avatar-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #222222;
}

.head__avatar {
    width: 32px;
    height: 32px;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 6px;
    margin: 10px;
    margin-left: 0px;
}

.head__avatar-image {
    max-width: 100%;
}

.head__name {
    font: 500 14px/1.28 "Golos UI", sans-serif;
}

.head__write-button {
    border: none;
    background: none;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
}

/* Галлерея поста */
.post__gallery {
    width: 474px;
    height: 474px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.gallery__track {
    display: flex;
    transition: transform 0.5s ease;
}

.gallery__image {
    flex-shrink: 0;
    width: 474px;
    height: 474px;
    object-fit: cover;
}

/* Кнопки галереи */
.gallery__indicator {
    font: 400 15px/1.28 "Golos UI", sans-serif;
    background-color: #22222280;
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 20px;
    border-radius: 15px;
    padding: 1px 7px 1px 7px;
}
.gallery__next-image {
    background-color: #FFFFFF99;
    color: #222222;
    position: absolute;
    right: 10px;
    border-radius: 25px;
    border: none;
    padding: 1px 4px 1px 4px;
}

.gallery__last-image {
    background-color: #FFFFFF99;
    color: #222222;
    position: absolute;
    right: 445px;
    border-radius: 25px;
    border: none;
    padding: 1px 4px 1px 4px;
}

/* кнопка с лайками */
.post__like-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__likes {
   max-width: 68px;
   font: 400 15px/1.2 "Golos UI", sans-serif;
   padding: 6px 12px;
   border-radius: 8px;
   display: flex;
   border: 1px solid #F0F0F0;
   gap: 3px;
   margin-bottom: 10px;
   cursor: pointer;
   transition: 0.3s;
}

.post__likes.liked {
    background-color: #EF53530D;
    border: 1px solid #FF000030;
}

.likes__errors {
    font: 400 15px/1.2 "Golos UI", sans-serif;
    padding: 6px 12px;
    display: flex;
    margin-bottom: 10px;
    color: #740000;
    display: none;
}

/* основной текст */
.post__text {
    font: 400 15px/1.28 "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    padding: 0px;
}

.post__content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}

.post__content.expanded {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    max-height: none;
}

/* кнопка еще */
.post__more-button {
    padding: 0;

    border: none;
    background-color: #ffffff;
    font: 400 15px/1.28 "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #808080;
    cursor: pointer;
}

/* дата поста */
.post__date {
    display: block;
    margin-top: 10px;
    
    font: 400 14px/1.2 "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #808080;
}

/* отступ внизу от конца экрана */
.post {
    margin-bottom: 20px;
}

/* Модальное окно */
.modal {
    display: none;
}

.modal_open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #22222280;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(19.1px);
}

.modal__window {
    background: none;
    max-width: 90vw;
    max-height: 90vh;
    min-width: 300px; 
    min-height: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal__close {
    border: none;
    background: none;
    position: absolute;
    top: -30px;
    right: -5px;
    cursor: pointer; 
}

.modal__image-container {
    position: relative;
    display: inline-block;
}

.modal__image {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    min-width: 300px;
    min-height: 300px;
}

/* модальные кнопки */
.modal__button {
    background-color: #FFFFFF99;
    color: #222222;
    position: absolute;
    border-radius: 25px;
    border: none;
    padding: 1px 4px 1px 4px;
    top: 50%;
    transform: translateY(-50%);
    transform: scale(1.1);
    cursor: pointer; 
}
.modal__next-image {
    right: 15px;
}

.modal__prev-image {
    left: 15px;
}

.modal__indicator {
    font: 400 15px/1.28 "Golos UI", sans-serif;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.modal__viewport {
    overflow: hidden;
    width: 474px;
    height: 474px;
    max-width: 90vw;
    max-height: 90vh;
}

.modal__track {
    display: flex;
    transition: transform 0.3s ease;
}

.modal__image-container {
    max-width: 90vw; 
    max-height: 90vh;
}