/* сброс отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* основной контейнер */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
}
/* заголовок и изобаржение */
.greeting {
    position: relative;
}

.title {
    font: 700 140px/1.28 "Golos UI", sans-serif;
    color: #222222;
    letter-spacing: -1.5px;
    position: absolute;
    bottom: 445px;
    right: 170px;
}

.frame {
    width: 462px;
    height: 501px;
    overflow: hidden;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.images {
    max-width: 100%
}

/* форма */
.label {
    display: block;
    font: 700 15px/1.2 "Golos UI", sans-serif;
    color: #222222;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}

.input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid #F2F3F5;
    background-color: #F2F3F5;
    border-radius: 10px;
    padding: 13px 12px;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    transition: border 0.3s ease;
    outline: none;
}

.input:focus {
    border: 1px solid #3F8AE0;
}

.input-info {
    display: block;
    margin-bottom: 15px;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    color: #808080;
}

/* кнопка "Показать пароль" */
.pass-box {
    padding-right: 40px;
}

.pass-contain {
    position: relative;
}

.eye {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* кнопка отправки формы */
.button {
    display: block;
    margin-top: 32px;
    width: 100%;
    font: 500 16px "Golos UI", sans-serif;
    color: #FFFFFF;
    background-color: #222222;
    border-radius: 10px;
    padding: 16px;
    border: 2px solid #222222;
    transition: border, background-color 0.3s ease;
    cursor: pointer;
}

.button:focus {
    border: 2px solid #3F8AE0;
}