/* сброс отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* основной контейнер */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
}
/* заголовок и изобаржение */
.login__greeting{
    position: relative;
}

.login__title {
    font: 700 140px/1.28 "Golos UI", sans-serif;
    color: #222222;
    letter-spacing: -1.5px;
    position: absolute;
    bottom: 445px;
    right: 170px;
}

.login__frame {
    width: 462px;
    height: 501px;
    overflow: hidden;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.login__image {
    max-width: 100%
}

/* форма */
.login__form {
    position: relative;
}

.login__label {
    display: block;
    font: 700 15px/1.2 "Golos UI", sans-serif;
    color: #222222;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}

.login__input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid #F2F3F5;
    background-color: #F2F3F5;
    border-radius: 10px;
    padding: 13px 12px;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    transition: border 0.3s ease;
    outline: none;
}

.login__input.error {
    border: 1px solid #E64646;
}

.login__input:focus {
    border: 1px solid #3F8AE0;
}

.login__input-info {
    display: block;
    margin-bottom: 15px;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    color: #808080;
}

.login__input-info.error {
    color: #E64646;
}

/* кнопка "Показать пароль" */
.login__pass-box {
    padding-right: 40px;
}

.login__pass-container {
    position: relative;
}

.login__eye-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

/* кнопка отправки формы */
.login__submit-button {
    display: block;
    margin-top: 32px;
    width: 100%;
    font: 500 16px "Golos UI", sans-serif;
    color: #FFFFFF;
    background-color: #222222;
    border-radius: 10px;
    padding: 16px;
    border: 2px solid #222222;
    transition: border, background-color 0.3s ease;
    cursor: pointer;
}

.login__submit-button:focus {
    border: 2px solid #3F8AE0;
}

/* предложение регистрации */
.login__register {
    display: block;
    text-align: center;
    margin-top: 10px;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    color: #808080;
}

.login__register-link {
    color: #007bff;
    text-decoration: none;
}

.login__register-link:hover {
    text-decoration: underline;
}

.login__error-box {
    width: 100%;
    border: 1px solid #F2F3F5;
    background-color: #FFECEC;
    border-radius: 10px;
    padding: 15px 12px;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    transition: border 0.3s ease;
    outline: none;
    margin-bottom: 15px;
    position: absolute;
    top: -20%;
    display: none; 
}