/* сброс отступов */
* {
    margin: 0;
    padding: 0;
}

/* основной контейнер */
.container {
    display: flex;
}

/* Основной контент */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 73px;
}

.header {
    height: 73px;
}

.content__frame {
    width: 123px;
    height: 123px;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 16px;
    margin: 10px;
}

.content__avatar {
    max-width: 100%;
    transform: scale(1.2);
}

.content__name {
    font: 500 32px/1.28 "Golos UI", sans-serif;
    letter-spacing: -0.25px;
    color: #222222;
    margin: 5px;
}

.content__aboutme {
    width: 361px;
    text-align: center;
    font: 500 15px/1.28 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
    margin: 5px;

}

.content__button {
    padding: 6px 10px;
    gap: 6px;
    border: none;
    border-radius: 6px;
    font: 400 15px/1.28 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    margin-top: 15px;
    margin-bottom: 35px;
    color: #222222;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Галерея */
.content__gallery {
    width: 972px;
    display: grid;
    grid-template-columns: repeat(3, 322px);
    align-items: center;
    gap: 2px;
    padding-bottom: 30px;
}

.content__gallery-frame {
    height: 322px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 2px;
}

.content__gallery-image {
    max-width: 100%;
}