/* сброс отступов */
* {
    margin: 0;
    padding: 0;
}

/* основной контейнер */
.container {
    display: flex;
}

/* боковое меню */
.menu {
    border-right: 1px solid #2222220D;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-header {
    height: 30px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    display: block;
}

.menu-icon-home {
    background-image: url("/images/home-no-dot.svg");
}

.menu-icon-profile {
    background-image: url("/images/profile-dot.svg");
}

.menu-icon-plus {
    background-image: url("/images/plus.svg");
}

/* Основной контент */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 73px;
}

.header {
    height: 73px;
}

.frame {
    width: 123px;
    height: 123px;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 16px;
    margin: 10px;
}

.image {
    max-width: 100%;
    scale: 120%;
}

.name {
    font: 500 32px/1.28 "Golos UI", sans-serif;
    letter-spacing: -0.25px;
    color: #222222;
    margin: 5px;
}

.aboutme {
    width: 361px;
    text-align: center;
    font: 500 15px/1.28 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
    margin: 5px;

}

.button {
    padding: 6px 10px 6px 10px;
    gap: 6px;
    border: none;
    border-radius: 6px;
    font: 400 15px/1.28 "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    margin-top: 15px;
    margin-bottom: 35px;
    color: #222222;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Галерея */
.gallery {
    width: 972px;
    display: grid;
    grid-template-columns: repeat(3, 322px);
    align-items: center;
    gap: 2px;
    padding-bottom: 30px;
}

.gallery-frame {
    width: (972/3)px;
    height: 322px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 2px;
}

.images {
    max-width: 100%;
}